form {            
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 2%; 
    width: 60%;
}

input {
    margin-bottom:  8px;
    border-radius: 8px;
    width: 30%;
}

#idNomeMae, #idNomePai {
    left: 380px;
    position: absolute;
}

#idEmail, #idEndereco{
    width: 50%;
}

fieldset {
    background-color: #d3d3d3;
    border-radius: 5px;
}

fieldset legend {
    font-style: italic;
    font-size: 20px;
}

button {
    background-color: #d3d3d3;
    border-color: #d3d3d3;
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    vertical-align: middle;
}